@import "tailwindcss";
@import "intl-tel-input/build/css/intlTelInput.css";

@custom-variant hotwire-native {
  body[data-hotwire-native="true"] & {
    @slot;
  }
}

@custom-variant not-hotwire-native {
  body[data-hotwire-native="false"] & {
    @slot;
  }
}

@theme {
  --color-test: var(--color-yellow-200);
  --color-localhost: var(--color-yellow-400);
  --color-development: var(--color-yellow-600);
  --color-staging: var(--color-yellow-800);
  --color-production: var(--color-black);
}

[hidden] {
  @apply hidden;
}

a,
button {
  @apply cursor-pointer;
}

.list-none::-webkit-details-marker {
  display: none;
}

.p {
  @apply mb-4;
}

.ul {
  @apply list-disc ml-4;
}

.link {
  @apply underline;

  &:disabled {
    @apply text-gray-600 pointer-events-none;
  }
}

.button {
  @apply bg-black hover:bg-gray-800 focus:bg-gray-800;
  @apply focus:border-white focus:outline focus:outline-black focus:outline-1;
  @apply border border-transparent;
  @apply px-4 py-2 rounded text-white;

  &.button--secondary {
    @apply bg-white hover:bg-gray-100 focus:bg-gray-200;
    @apply border border-black;
    @apply focus:border-black focus:outline-black;
    @apply text-black;
  }

  &.button--red {
    @apply bg-red-600 hover:bg-red-700 focus:bg-red-700;
    @apply focus:outline-red-700;
  }

  &:disabled {
    @apply bg-gray-600 pointer-events-none;
  }

  &.button--link {
    @apply underline;
    @apply rounded-none p-0;
    @apply bg-transparent hover:bg-transparent focus:bg-transparent;
    @apply text-black;
    @apply border-none outline-none;

    &.button--red {
      @apply text-red-600;
    }

    &:disabled {
      @apply text-gray-600 bg-transparent pointer-events-none;
    }
  }
}

.label {
  @apply block;

  &.label--valid {
    @apply text-green-600;
  }

  &.label--invalid,
  .field_with_errors & {
    @apply text-red-600;
  }
}

.input {
  @apply p-2 rounded w-full text-black;
  @apply border border-black hover:border-gray-800 focus:border-gray-600;
  @apply focus:ring-offset-0 focus:ring-0;
  @apply max-w-xs;

  &[type="checkbox"],
  &[type="radio"] {
    @apply w-auto;
  }

  .input--valid {
    @apply border-green-600 focus:ring-green-600 focus:border-green-600;
  }

  .input--invalid,
  .field_with_errors & {
    @apply border-red-600 focus:ring-red-600 focus:border-red-600;
  }

  &.input--touched:invalid {
    @apply border-red-600;
  }

  &.input--code {
    @apply max-w-full whitespace-pre font-mono h-96;
  }

  &.input--repl {
    @apply max-w-full whitespace-pre font-mono;
  }
}

.center {
  @apply flex grow items-center justify-center;
}

.iti {
  @apply block;

  .iti__tel-input {
    padding-left: 50px;
  }
}

.code {
  @apply whitespace-pre font-mono rounded overflow-auto;
  @apply border-black border p-2 w-fit;
}

.content,
trix-editor,
.trix-content {
  p {
    @apply mb-4;
  }

  a {
    @apply underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mb-4;
  }

  blockquote {
    @apply border-l border-black pl-2 mb-4;
  }

  pre {
    @apply whitespace-pre font-mono rounded overflow-auto;
    @apply border-black border p-2 w-fit bg-white!;
    @apply mb-4;

    span {
      @apply text-black!;
    }
  }

  ul {
    @apply list-disc ml-4;
  }
}

trix-editor {
  @apply min-h-24;
}

trix-toolbar {
  @apply max-w-sm whitespace-normal;

  .trix-button {
    @apply border border-black px-2 py-1 mb-2;
  }
}

.grecaptcha-badge {
  @apply hidden;
}

.pagination {
  .first,
  .prev,
  .page,
  .next,
  .last {
    a {
      @apply underline;
    }
  }

  .page.current {
    @apply font-bold;
  }
}
