<%= turbo_stream_from(@guests) %>

<% if @guests.any? %>
  <div class="p">
    <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
    <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
  </div>
<% end %>

<%= render(partial: "guests/guest", collection: @guests, as: :guest %>
