div(data-controller="nested" data-nested-selector-value=".name")
  template(data-nested-target="template")
    = f.fields_for :names, Name.new, child_index: "NEW_RECORD" do |name_f|
      = render "names/nested_form", f: name_f

  = f.fields_for :names do |name_f|
    = render "names/nested_form", f: name_f

  div(data-nested-target="target")

  .p
    button.button.button--link(data-action="nested#add")
      = t(".add")
