- content_for(:title, @name)

- if @name.user.present?
  .p
    .text-gray-600= t(".user")

    - if can?(:show, @name.user)
      .font-bold= link_to @name.user, @name.user, class: "underline"
    - else
      .font-bold= @name.user

- if @name.given_name.present?
  .p
    .text-gray-600= t(".given_name")
    .font-bold= @name.given_name

- if @name.family_name.present?
  .p
    .text-gray-600= t(".family_name")
    .font-bold= @name.family_name

.p
  .text-gray-600= t(".primary")
  .font-bold= @name.primary?

.p
  .text-gray-600= t(".verified")
  .font-bold= @name.verified?

.p
  .text-gray-600= t(".updated_at")
  .font-bold= local_time(@name.updated_at)

.p
  .text-gray-600= t(".created_at")
  .font-bold= local_time(@name.created_at)

.p
  => link_to t(".edit"), [:edit, @name], class: "underline"
  => button_to t(".delete"), @name, method: :delete, class: "underline", form_class: "inline-block"
