= form_for program do |f|
  - if admin?
    .p
      = f.label :user_id, class: "label"
      = f.select :user_id, user_options(user_id: f.object.user_id), {}, class: "input"

  .p
    = f.label :name, class: "label"
    = f.text_field :name, placeholder: t(".name_placeholder"), class: "input"
    .text-gray-600= Faker::Company.name

  .p
    = f.label :input, class: "label"
    = f.text_area :input, placeholder: t(".input_placeholder"), class: "input whitespace-pre font-mono"
    .text-gray-600= t(".fake_input")

  = render "schedules/nested", f:

  .p= f.submit submit, class: "button"
