- content_for(:title, @user)

- if @user.admin?
  .p.font-bold= t(".admin")

.p
  .text-gray-600= t(".locale")
  .font-bold= @user.translated_locale

.p
  .text-gray-600= t(".verified")
  .font-bold= @user.verified

.p
  .text-gray-600= t(".updated_at")
  .font-bold= local_time(@user.updated_at)

.p
  .text-gray-600= t(".created_at")
  .font-bold= local_time(@user.created_at)

.p
  => link_to t(".edit"), [:edit, @user], class: "underline"
  => button_to t(".delete"), @user, method: :delete, class: "underline", form_class: "inline-block"

= render "shared/list", user: @user, model: Name
= render "shared/list", user: @user, model: Handle
= render "shared/list", user: @user, model: EmailAddress
= render "shared/list", user: @user, model: PhoneNumber
= render "shared/list", user: @user, model: Address
= render "shared/list", user: @user, model: Password
= render "shared/list", user: @user, model: TimeZone
