div(data-controller="nested" data-nested-selector-value=".schedule")
  template(data-nested-target="template")
    = f.fields_for :schedules, Schedule.new, child_index: "NEW_RECORD" do |schedule_f|
      = render "schedules/nested_form", f: schedule_f

  = f.fields_for :schedules do |schedule_f|
    = render "schedules/nested_form", f: schedule_f

  div(data-nested-target="target")

  .p
    button.button.button--link(data-action="nested#add")
      = t(".add")
