<div class="p">
  <%= link_to([*nested, schedule], class: "link") do %>
    <% if schedule.once? %>
      <%= t(
        ".schedule_once_html",
        local_time: local_time(schedule.starts_at),
        interval: schedule.translated_interval
      ) %>
    <% else %>
      <%= t(
        ".schedule_html",
        local_time: local_time(schedule.starts_at),
        interval: schedule.translated_interval
      ) %>
    <% end %>
  <% end %>
</div>
