<div class="p">
  <%= link_to t(".new"), new_url, class: "button" %>
</div>

<% if @schedules.any? %>
  <div class="p">
    <%= button_to t(".delete_all"), url, method: :delete, class: "underline" %>
  </div>
<% end %>

<%= render @schedules %>