<% partial = local_assigns.fetch(:partial) %>
<% collection = local_assigns.fetch(:collection) %>
<% as = local_assigns.fetch(:as) %>
<% content = local_assigns.fetch(:content, true) %>
<% extras = local_assigns.fetch(:extras, {}) %>
<% total_pages = collection.total_pages %>

<div class="p text-gray-600"><%= page_entries_info(collection) %></div>

<% if content %>
  <% if total_pages > 1 %>
    <div class="p text-gray-600"><%= paginate(collection) %></div>
  <% end %>

  <%= render(partial:, collection:, as:, **extras) %>

  <% if total_pages > 1 %>
    <div class="p text-gray-600"><%= paginate(collection) %></div>
  <% end %>
<% end %>
