<% text = local_assigns.fetch(:text) %>
<% url = local_assigns.fetch(:url) %>
<% method = local_assigns.fetch(:method, :delete) %>

<% if hotwire_native_app? %>
  <%= button_to(
    text,
    url,
    method: method,
    class: "button button--link",
    form: {
      class: "inline-block",
      data: {
        controller: "bridge--confirm",
        action: "bridge--confirm#show:prevent",
        bridge__confirm_title_value: t(".modal_title"),
        bridge__confirm_cancel_value: t(".modal_cancel"),
        bridge__confirm_confirm_value: t(".modal_confirm"),
        bridge__confirm_destructive_value: method == :delete
      }
    }
  ) %>
<% else %>
  <div class="inline-block" data-controller="confirm">
    <%= button_to(
      text,
      url,
      method: method,
      class: "button button--link",
      form: {
        data: {
          confirm_target: "form",
          action: "confirm#show:prevent"
        },
        class: "inline-block"
      }
    ) %>
    <%= render(
      "shared/modal",
      data: {
        confirm_target: "modal",
        action: %w[
          modal:hidden->confirm#cancel
          modal:escaped->confirm#cancel
          modal:closed->confirm#cancel
          modal:canceled->confirm#cancel
          modal:confirmed->confirm#confirm
        ].join(" ")
      },
      title: t(".modal_title"),
      cancel: t(".modal_cancel"),
      confirm: t(".modal_confirm"),
      destructive: method == :delete
    ) %>
  </div>
<% end %>
