<% text = local_assigns.fetch(:text) %>
<% url = local_assigns.fetch(:url) %>
<% method = local_assigns.fetch(:method, :delete) %>

<% if hotwire_native_app? %>
  <%= button_to(
    text,
    url,
    method: method,
    class: "button button--link",
    form: {
      class: "inline-block"
    }
  ) %>
<% else %>
  <div class="inline-block" data-controller="alert">
    <%= button_to(
      text,
      url,
      method: method,
      class: "button button--link",
      form: {
        data: {
          alert_target: "form",
          action: "alert#show:prevent"
        },
        class: "inline-block"
      }
    ) %>
    <%= render(
      "shared/modal",
      data: {
        alert_target: "modal",
        action:
          "
                                                                    modal:hidden->alert#cancel
                                                                    modal:escaped->alert#cancel
                                                                    modal:closed->alert#cancel
                                                                    modal:canceled->alert#cancel
                                                                    modal:confirmed->alert#confirm
                                                                  "
      },
      title: t(".modal_title"),
      confirm: t(".modal_confirm"),
      cancel: t(".modal_cancel")
    ) %>
  </div>
<% end %>
