<% text = local_assigns.fetch(:text) %>
<% url = local_assigns.fetch(:url) %>
<% method = local_assigns.fetch(:method, :delete) %>

<% if hotwire_native_app? %>
  <%= button_to(
    text,
    url,
    method: method,
    class: "button button--link",
    form: {
      class: "inline-block",
      data: {
        controller: "bridge--alert",
        action: "bridge-alert#show:prevent",
        bridge__alert_title_value: t(".modal_title"),
        bridge__alert_cancel_value: t(".modal_cancel"),
        bridge__alert_confirm_value: t(".modal_confirm"),
        bridge__alert_destructive_value: method == :delete,
      }
    }
  ) %>
<% else %>
  <div class="inline-block" data-controller="alert">
    <%= button_to(
      text,
      url,
      method: method,
      class: "button button--link",
      form: {
        data: {
          alert_target: "form",
          action: "alert#show:prevent"
        },
        class: "inline-block"
      }
    ) %>
    <%= render(
      "shared/modal",
      data: {
        alert_target: "modal",
        action:
          "
            modal:hidden->alert#cancel
            modal:escaped->alert#cancel
            modal:closed->alert#cancel
            modal:canceled->alert#cancel
            modal:confirmed->alert#confirm
          "
      },
      title: t(".modal_title"),
      cancel: t(".modal_cancel"),
      confirm: t(".modal_confirm"),
      destructive: method == :delete,
    ) %>
  </div>
<% end %>
