<% if filter == :user
  scope = policy_scope(User)
  shown = admin?
elsif filter == :program
  scope = policy_scope(Program)
  scope = scope.where_user(@user) if @user
  shown = !@repl_session && !@repl_program && !@repl_prompt && !@repl_execution
elsif filter == :program_prompt
  scope = policy_scope(ProgramPrompt)
  scope = scope.where_user(@user) if @user
  scope = scope.where_program(@program) if @program
  shown = !@repl_session && !@repl_program && !@repl_prompt && !@repl_execution
elsif filter == :repl_session
  scope = policy_scope(ReplSession)
  scope = scope.where_user(@user) if @user
  shown =
    !@program && !@program_prompt && !@program_prompt_schedule &&
      !@program_execution && !@program_schedule
elsif filter == :repl_program
  scope = policy_scope(ReplProgram)
  scope = scope.where_user(@user) if @user
  scope = scope.where_repl_session(@repl_session) if @repl_session
  shown =
    !@program && !@program_prompt && !@program_prompt_schedule &&
      !@program_execution && !@program_schedule
elsif filter == :repl_prompt
  scope = policy_scope(ReplPrompt)
  scope = scope.where_user(@user) if @user
  scope = scope.where_repl_session(@repl_session) if @repl_session
  scope = scope.where_repl_program(@repl_program) if @repl_program
  shown =
    !@program && !@program_prompt && !@program_prompt_schedule &&
      !@program_execution && !@program_schedule
elsif filter == :error
  scope = policy_scope(::Error)
  scope = scope.where_user(@user) if @user
  shown =
    !@program && !@program_prompt && !@program_prompt_schedule &&
      !@program_execution && !@program_schedule
else
  raise(NotImplementedError, "filter #{filter.inspect} not implemented")
end %>

<% if shown %>
  <div data-controller="filter">
    <form data-filter-target="form" data-action="filter#select:prevent">
      <div class="p">
        <%= label_tag("search[filter][#{filter}]", t(".#{filter}"), class: "label") %>
        <%= select_tag(
          "search[filter][#{filter}]",
          options_for_select(
            [[t(".all"), polymorphic_url(index_url(filter => nil))]] +
              scope.map do |instance|
                [instance, polymorphic_url(index_url(filter => instance))]
              end,
            polymorphic_url(index_url)
          ),
          class: "input",
          data: {
            filter_target: "input",
            action: "filter#select"
          }
        ) %>
      </div>
    </form>
  </div>
<% end %>
