<% if filter == :user
  scope = policy_scope(User)
elsif filter == :guest
  scope = policy_scope(Guest).where(id: current_guest)
elsif filter == :program
  scope = policy_scope(Program)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :program_prompt
  scope = policy_scope(ProgramPrompt)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
  scope = scope.where_program(@program) if @program
elsif filter == :program_execution
  scope = policy_scope(ProgramExecution)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
  scope = scope.where_program(@program) if @program
elsif filter == :program_schedule
  scope = policy_scope(ProgramSchedule)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
  scope = scope.where_program(@program) if @program
elsif filter == :program_prompt_schedule
  scope = policy_scope(ProgramPromptSchedule)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
  scope = scope.where_program(@program) if @program
  scope = scope.where_program_prompt(@program_prompt) if @program_prompt
elsif filter == :error
  scope = policy_scope(::Error)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :address
  scope = policy_scope(Address)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :datum
  scope = policy_scope(Datum)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :device
  scope = policy_scope(Device)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :email_address
  scope = policy_scope(EmailAddress)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :handle
  scope = policy_scope(Handle)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :job
  scope = policy_scope(Job)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :message
  scope = policy_scope(Message)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :name
  scope = policy_scope(Name)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :phone_number
  scope = policy_scope(PhoneNumber)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :time_zone
  scope = policy_scope(TimeZone)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :token
  scope = policy_scope(Token)
  scope = scope.where_guest(@guest) if @guest
  scope = scope.where_user(@user) if @user
elsif filter == :example
  scope = policy_scope(Example)
else
  raise(NotImplementedError, "filter #{filter.inspect} not implemented")
end %>

<% program_context =
  @program || @program_prompt || @program_prompt_schedule ||
    @program_execution || @program_schedule %>
<% shown =
  if filter == :user
    admin? && !@guest
  elsif filter == :guest
    admin? && !@user
  elsif %i[
        program
        program_prompt
        program_prompt_schedule
        program_execution
        program_schedule
      ].include?(filter)
    true
  else
    !program_context
  end %>

<% shown &&= scope.any? %>

<% if shown %>
  <div data-controller="filter">
    <form data-filter-target="form" data-action="filter#select:prevent">
      <div class="p">
        <%= label_tag("search[filter][#{filter}]", t(".#{filter}"), class: :label) %>
        <%= select_tag(
          "search[filter][#{filter}]",
          options_for_select(
            [[t(".all"), url_for(index_url(filter => nil))]] +
              scope.map do |instance|
                [instance, url_for(index_url(filter => instance))]
              end,
            url_for(index_url)
          ),
          class: :input,
          data: {
            filter_target: :input,
            action: "filter#select"
          }
        ) %>
      </div>
    </form>
  </div>
<% end %>
