<% user = local_assigns.fetch(:user) %>
<% model = local_assigns.fetch(:model) %>
<% singular = model.name.underscore %>
<% plural = model.name.underscore.pluralize %>
<% collection =
  policy_scope(model)
    .where(user: user)
    .page(params[:page])
    .order(created_at: :asc) %>
<% partial = "#{plural}/#{singular}" %>
<% as = singular %>

<div class="p font-bold">
  <%= link_to t(".#{plural}"), [user, plural.to_sym], class: "link" %>
</div>

<div class="p">
  <%= link_to t(".new_#{singular}"), [:new, user, singular.to_sym], class: "button" %>
</div>

<%= render_collection partial:, collection:, as: %>
