<% user = local_assigns.fetch(:user) %>
<% model = local_assigns.fetch(:model) %>
<% content = local_assigns.fetch(:content, true) %>
<% singular = model.model_singular %>
<% plural = model.model_plural %>
<% if can?(:index, model) %>
  <% collection =
    policy_scope(model)
      .where_user(user)
      .page(params[:page])
      .order(created_at: :asc) %>
  <% partial = "#{plural}/#{singular}" %>
  <% as = singular %>

  <div class="p font-bold">
    <%= link_to(t(".#{plural}"), [user, plural.to_sym], class: :link) %>
  </div>

  <% if can?(:create, model) %>
    <div class="p">
      <%= link_to(t(".new_#{singular}"), [:new, user, singular.to_sym], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: partial,
    collection: collection,
    as: as,
    content: content,
    locals: {
      nested: [user]
    }
  ) %>
<% end %>
