<% user = local_assigns.fetch(:user) %>
<% model = local_assigns.fetch(:model) %>

<div class="p font-bold">
  <%= link_to t(".#{model.name.underscore.pluralize}"),
          [user, model],
          class: "link" %>
</div>

<div class="p">
  <%= link_to t(".new_#{model.name.underscore}"),
          [:new, model.name.underscore.to_sym],
          class: "button" %>
</div>

<%= render policy_scope(model).where(user: user) %>
