<form>
  <div class="p flex gap-4">
    <%= text_field_tag "search[q]",
                   params.dig(:search, :q),
                   placeholder: t(".placeholder"),
                   class: "input" %>
    <%= submit_tag t(".submit"), class: "button" %>
  </div>
</form>
