<% q = params.dig(:search, :q).presence %>

<% if hotwire_native_app? %>
  <div data-controller="bridge--search">
    <form
      data-bridge--search-target="form"
      data-turbo-frame="search"
      data-turbo-action="advance"
      method="get"
    >
      <%= hidden_field_tag(
        "search[q]",
        q,
        autocomplete: :off,
        data: {
          bridge__search_target: :q,
          form_type: :other
        }
      ) %>
    </form>
  </div>
<% else %>
  <div data-controller="search">
    <form
      data-search-target="form"
      data-turbo-frame="search"
      data-turbo-action="advance"
      method="get"
    >
      <div class="p flex gap-4">
        <%= text_field_tag(
          "search[q]",
          q,
          placeholder: t(".placeholder"),
          class: :input,
          autocomplete: :off,
          data: {
            action: "search#search",
            form_type: :other
          }
        ) %>
        <%= submit_tag(t(".submit"), class: :button) %>
      </div>
    </form>
  </div>
<% end %>

<% filters.each do |filter| %>
  <%= render("shared/filter", filter: filter) %>
<% end %>
