- content_for(:title, @phone_number)

- if @phone_number.user.present?
  .p
    .text-gray-600= t(".user")

    - if can?(:show, @phone_number.user)
      .font-bold= link_to @phone_number.user, @phone_number.user, class: "underline"
    - else
      .font-bold= @phone_number.user

- if @phone_number.phone_number.present?
  .p
    .text-gray-600= t(".phone_number")
    .font-bold= @phone_number.phone_number

.p
  .text-gray-600= t(".primary")
  .font-bold= @phone_number.primary?

.p
  .text-gray-600= t(".verified")
  .font-bold= @phone_number.verified?

.p
  .text-gray-600= t(".updated_at")
  .font-bold= local_time(@phone_number.updated_at)

.p
  .text-gray-600= t(".created_at")
  .font-bold= local_time(@phone_number.created_at)

.p
  => link_to t(".edit"), [:edit, @phone_number], class: "underline"
  => button_to t(".delete"), @phone_number, method: :delete, class: "underline", form_class: "inline-block"
