---
development:
  adapter: postgresql
  database: code_development
  pool: <%= Integer(ENV.fetch("DATABASE_POOL", 50)) %>
production:
  pool: <%= Integer(ENV.fetch("DATABASE_POOL", 50)) %>
  url: <%= ENV.fetch("DATABASE_URL", "postgres:///code_production") %>
test:
  adapter: postgresql
  database: code_test
  pool: <%= Integer(ENV.fetch("DATABASE_POOL", 50)) %>
