---
accessories:
  db:
    image: postgres:15
    host: 138.201.175.197
    port: 5432
    env:
      clear:
        POSTGRES_USER: code_user
        POSTGRES_DB: code_staging
      secret:
      - POSTGRES_PASSWORD
    directories:
    - code_postgres_staging_data:/var/lib/postgresql/data
aliases:
  console: app exec --interactive --reuse "bin/rails console"
  db: app exec --interactive --reuse "bin/rails dbconsole"
  live: app live
  logs: app logs -f
  maintenance: app maintenance
  restart: app boot
  shell: app exec --interactive --reuse "bash"
  stop: app stop
builder:
  arch: arm64
env:
  secret:
  - BASE_URL
  - CODE_ENV
  - DATABASE_URL
  - HOST
  - HOSTS
  - RAILS_ENV
  - RAILS_MASTER_KEY
image: dorianmariecom/codedorian.com
proxy:
  hosts:
  - staging.code-dorian.com
  - staging.code.dorianmarie.com
  - staging.codedorian.co
  - staging.codedorian.com
  - staging.codedorian.fr
  - staging.codedorian.net
  - staging.codedorian.org
  ssl: true
registry:
  password:
  - KAMAL_REGISTRY_PASSWORD
  username:
  - KAMAL_REGISTRY_USERNAME
servers:
  jobs:
    cmd: bin/jobs
    hosts:
    - 138.201.175.197
  push:
    cmd: bin/push
    hosts:
    - 138.201.175.197
  web:
  - 138.201.175.197
service: codedorian
volumes:
- code_storage:/rails/storage
