---
proxy:
  hosts:
  - staging.code-dorian.com
  - staging.code.dorianmarie.com
  - staging.codedorian.co
  - staging.codedorian.com
  - staging.codedorian.fr
  - staging.codedorian.net
  - staging.codedorian.org
