= form_for password do |f|
  - if admin?
    .p
      = f.label :user_id, class: "label"
      = f.select :user_id, user_options(user_id: f.object.user_id), {}, class: "input"

  .p(data-controller="password")
    = f.label :password, class: "label", data: { password_target: "label" }
    .flex.gap-2.items-center
      input(hidden autocomplete="username")
      = f.password_field :password, class: "input", required: true, data: { password_target: "input", action: "password#input", form_type: "other" }, autocomplete: "new-password"
      a.p-2.flex.items-center.justify-center(data-password-target="show" data-action="password#show")
        = heroicon "eye"
      a.p-2.flex.items-center.justify-center(hidden data-password-target="hide" data-action="password#hide")
        = heroicon "eye-slash"
    .text-red-600(hidden data-password-target="error")
    .text-gray-600= Faker::Internet.password

  .p
    = f.label :primary, class: "label"
    = f.check_box :primary, class: "input"

  - if admin?
    .p
      = f.label :verified, class: "label"
      = f.check_box :verified, class: "input"

  .p= f.submit submit, class: "button"
