<div class="content"><%= t(".source_html") %></div>

<div class="content"><%= t(".about_html") %></div>

<div class="p">
  <%= t(".version") %><%= ENV.fetch("KAMAL_VERSION", t(".localhost")) %>
</div>
