<div class="p"><%= link_to(t(".time_zones"), :time_zones, class: "link") %></div>
<div class="p"><%= link_to(t(".tokens"), :tokens, class: "link") %></div>
<div class="p"><%= link_to(t(".users"), :users, class: "link") %></div>