<div class="p code">1 + 1</div>
<div class="p code">puts("hello world")</div>
<div class="p code">puts("1 + 1 = {1 + 1}")</div>
<div class="p code">[1, 2, 3].select(&amp;:odd?).map { |i| i ** 2 }</div>
<div class="p code">Http.get("https://httpbin.org/get")</div>
<div class="p code">Message.create!(subject: "test", body: "test")</div>
<div class="p code">Current.user</div>
<div class="p code">User.find("dorianmariecom")</div>
