<div class="p">
  <%= link_to(Config.ios.url) do %>
    <%= image_tag("ios-#{I18n.locale}.svg", class: "h-14") %>
  <% end %>
</div>

<div class="p">
  <%= link_to(Config.android.url) do %>
    <%= image_tag("android-#{I18n.locale}.svg", class: "h-14") %>
  <% end %>
</div>
