<% Current::BG_ENVS.each do |env, bg_env| %>
  <div class="p"><%= env %></div>
  <div class="p size-96 flex items-center justify-center border">
    <div class="size-80 <%= bg_env %> rounded-full"></div>
  </div>
<% end %>
