div(data-controller="nested" data-nested-selector-value=".address")
  template(data-nested-target="template")
    = f.fields_for :addresses, Address.new, child_index: "NEW_RECORD" do |address_f|
      = render "addresses/form", f: address_f

  = f.fields_for :addresses do |address_f|
    = render "addresses/form", f: address_f

  div(data-nested-target="target")

  .p
    button.button.button--link(data-action="nested#add")
      = t(".add")
