div(data-controller="nested" data-nested-selector-value=".time-zone")
  template(data-nested-target="template")
    = f.fields_for :time_zones, TimeZone.new, child_index: "NEW_RECORD" do |time_zone_f|
      = render "time_zones/form", f: time_zone_f

  = f.fields_for :time_zones do |time_zone_f|
    = render "time_zones/form", f: time_zone_f

  div(data-nested-target="target")

  .p
    button.button.button--link(data-action="nested#add")
      = t(".add")
