<%= turbo_stream_from @time_zones %>

<div class="p"><%= link_to t(".new"), new_url, class: "button" %></div>

<% if @time_zones.any? %>
  <div class="p">
    <%= button_to t(".delete_all"), url, method: :delete, class: "button button--link" %>
  </div>
<% end %>

<%= render_collection partial: "time_zones/time_zone",
                  collection: @time_zones,
                  as: :time_zone %>
