<div class="p">
  <%= link_to([*nested, program_prompt_schedule], class: "link") do %>
    <% if program_prompt_schedule.once? %>
      <%= t(
        ".schedule_once_html",
        local_time: local_time(program_prompt_schedule.starts_at),
        interval: program_prompt_schedule.translated_interval
      ) %>
    <% else %>
      <%= t(
        ".schedule_html",
        local_time: local_time(program_prompt_schedule.starts_at),
        interval: program_prompt_schedule.translated_interval
      ) %>
    <% end %>
  <% end %>
</div>
